body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent; /* был источник чёрных полей */
  color: white;
  overflow: hidden;

  /* ВАЖНО: iOS-патч для safe-area */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

img {
  user-select: none;
  pointer-events: none;
}
