/* ABC_TypeWriterRussian — для текста биографии */
@font-face{
  font-family: "ABC_TypeWriterRussian";
  src: url("/rustam-site/assents/fonts/ABC_TypeWriterRussian.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Rostov — для RUSTAM ROMANOV */
@font-face{
  font-family: "Rostov";
  src: url("/rustam-site/assents/fonts/Rostov.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Royal Crescent — для DIRECTOR'S SHOWREEL и BIOGRAPHY */
@font-face{
  font-family: "Royal Crescent";
  src: url("/rustam-site/assents/fonts/Royal Crescent.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
